section, footer {
    margin-top: 30px;
}

.text-no-wrap {
    white-space: nowrap;
}

.chart {
  width: 100%;
  min-height: 450px;
}

.text-monospace {
    font-family: monospace;
}

@media (max-width: 575px) {
    .container {
        margin-top: 45px;
        margin-bottom: 45px;
    }

    footer {
        font-size: 8pt;
        line-height: 1.3em;
    }

    footer > p {
        margin-bottom: 3px;
    }
}

@media (min-width: 576px) {
    .container {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    footer {
        font-size: 10pt;
        line-height: 1.3em;
    }

    footer > p {
        margin-bottom: 8px;
    }
}